<h1>Search For A Movie</h1>

<!--The 'action' is where the form will send the data.-->
<form action="/results" method="GET">
    <input type="text" name="search" placeholder="Search For A Movie">
    <input type="submit">
</form>