<% include partials/header %>

<!--The '/' in '/app.css' tells the app to look for the ROOT directory-->
<link type="text/css" rel="stylesheet" href="/app.css">

<h1>Welcome To The Posts Page</h1>

<!--First Way: Loop Through As We Usually Do-->
<% for(var i = 0; i < posts.length; i++){ %>
    <li><%= posts[i].title %> - <strong><%= posts[i].author %></strong></li>
<% } %>


<!--Anotha One -- A Way You'll Probably See It Often (Shorter & Slightly Easier)-->
<% posts.forEach(function(post){ %>
    <li>
        <%= post.title %> - <strong><%= post.author%></strong>
    </li>
<% }) %>

<% include partials/footer %>