<!DOCTYPE html>
<html>
    <head>
        <title>PostRequestDemoCopy</title>
        <!--Let's Add Some CSS Here Just To Combine Everything We Know-->
        <link rel="stylesheet" type="text/css" href="/app.css">
        <!--Now Let's Even Add Fonts To Jumpstart My Memory-->
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    </head>
    <body>
        <!--Let's Tuck Everything In The Specific Page Into A 'div'-->
        <div>
            <p>This Is Our Header</p>
<!--
We'll include the content (from whatever page is pulling it) 
and the footer in seperate files.
-->